-# you can access all the cafe elements from the yaml frontmatter in the
-# respective city haml files.

- current_page.data.cafes.each do |cafe|
    %video{:src => "#{cafe.video}"}
    %h3=cafe.cafe_name
    %p=cafe.link
