- if current_page.data.bodyclass == "city"
  .logo.city{:role => "banner"}
    - link_to '/' do
      = image_tag "/images/logo-heading-city.png", :alt => "#{current_page.data.title}"
- else
  .logo.general{:role => "banner"}
    - link_to '/' do
      = image_tag "/images/logo-heading-general.png", :alt => "#{current_page.data.title}"