---
title: Bangkok
bodyclass: city

cafes:

  - cafe_name: Kaizen
    comments: 0
    created_time: '1440239006'
    likes: 10
    link: https://instagram.com/p/6rqI3VChoy/
    link_shortcode: 6rqI3VChoy
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11936328_425253584347325_2092639407_n.mp4
    video_height: 640
    video_width: 640

  - cafe_name: Roots
    comments: 1
    created_time: '1440235249'
    likes: 10
    link: https://instagram.com/p/6ri-QRihtF/
    link_shortcode: 6ri-QRihtF
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11833688_725004314277823_256826400_n.mp4
    video_height: 640
    video_width: 640
---
