---
title: Berlin
bodyclass: city

cafes:

- cafe_name: A MOCK NAME
  comments: 0
  likes: 4
  link: 'https://instagram.com/p/7Hy3FLihqm/'
  user_image: 'https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg'
  user_name: ytspar
  video: 'https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11890133_1623722444558015_273499899_n.mp4'
  video_height: 360
  video_width: 640

- cafe_name: CLEARLY A COFFEE NAME
  comments: 0
  likes: 6
  link: 'https://instagram.com/p/64nL-hihsP/'
  user_image: 'https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg'
  user_name: ytspar
  video: 'https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11854934_1480122102311238_629776096_n.mp4'
  video_height: 640
  video_width: 640


- cafe_name: ADD CAFE NAME
  comments: 1
  likes: 23
  link: https://instagram.com/p/6DzUBDChrY/
  user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
  user_name: ytspar
  video: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11771470_866924230062645_815303916_n.mp4
  video_height: 640
  video_width: 640
---

-# - current_page.data.features.each_with_index do |feature, index|
-#   .feature
-#     %img{:src => "/images/#{feature.image}"}
-#     %h3=feature.title
-#     %p=feature.text
