---
title: Budapest
bodyclass: city

cafes:

  - cafe_name: Kontakt
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11325786_439001609613163_1423618031_n.jpg
    created_time: '1439486629'
    height: 640
    link_shortcode: 6VPF6Gihjx
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11785161_733267733444477_1012620968_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11890386_606192842855489_326300072_s.mp4
    width: 640
---
