---
title: Budapest
bodyclass: city

cafes:

  - cafe_name: Kontakt
    comments: 0
    created_time: '1439486629'
    likes: 15
    link: https://instagram.com/p/6VPF6Gihjx/
    link_shortcode: 6VPF6Gihjx
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11785161_733267733444477_1012620968_n.mp4
    video_height: 640
    video_width: 640
---
