---
title: Chiang Mai
bodyclass: city

cafes:

  - cafe_name: ADD CAFE NAME
    comments: 2
    created_time: '1441183103'
    likes: 6
    link: https://instagram.com/p/7Hy3FLihqm/
    link_shortcode: 7Hy3FLihqm
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11890133_1623722444558015_273499899_n.mp4
    video_height: 360
    video_width: 640
    
  - cafe_name: ADD CAFE NAME
    comments: 15
    created_time: '1440390967'
    likes: 11
    link: https://instagram.com/p/6wL-uhihiE/
    link_shortcode: 6wL-uhihiE
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11899121_1612661138972615_94604290_n.mp4
    video_height: 640
    video_width: 640
    
  - cafe_name: ADD CAFE NAME
    comments: 2
    created_time: '1440306303'
    likes: 15
    link: https://instagram.com/p/6tqf2yChqG/
    link_shortcode: 6tqf2yChqG
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11936049_1673002006266087_277876542_n.mp4
    video_height: 640
    video_width: 640
---
