---
title: Chiang Mai
bodyclass: city

cafes:

  - cafe_name: Ristr8to (Central Festival)
    cafe_name_ig: Doppio Ristr8to Central Festival Chiangmai
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11348337_131098920572039_944029969_n.jpg
    created_time: '1441183103'
    height: 360
    latitude: 18.805690705
    link_shortcode: 7Hy3FLihqm
    longitude: 99.017996818
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11890133_1623722444558015_273499899_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11854979_1697263380497467_506148706_s.mp4
    width: 640
    
  - cafe_name: Akha Ama (Santitham)
    cafe_name_ig: Aka Ama Coffees
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11856818_111945572492865_550982150_n.jpg
    created_time: '1440390967'
    height: 640
    latitude: 18.80311976
    link_shortcode: 6wL-uhihiE
    longitude: 98.980048273
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11899121_1612661138972615_94604290_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11898736_1463966880576507_1597067431_s.mp4
    width: 640
    
  - cafe_name: Ristr8to Lab
    cafe_name_ig: Ristr8To
    cover_image: https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11848996_828880553876780_2119804062_n.jpg
    created_time: '1440306303'
    height: 640
    latitude: 18.799136878
    link_shortcode: 6tqf2yChqG
    longitude: 98.967127028
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11936049_1673002006266087_277876542_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11898979_1481000565554298_623254316_s.mp4
    width: 640

  - cafe_name: Pacamara
    cafe_name_ig: Pacamara Coffee
    cover_image: https://scontent.cdninstagram.com/hphotos-xfp1/t51.2885-15/e15/928843_762671537194293_2144204159_n.jpg
    created_time: '1441365579'
    height: 360
    latitude: 18.788210405
    link_shortcode: 7NO6B1Chsc
    longitude: 98.986782894
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11883661_1622432184692356_2024530883_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11918608_868291759887371_1173583230_s.mp4
    width: 640

  - cafe_name: Ponganes
    cafe_name_ig: Ponganes Espresso
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11336168_146555532354202_30841166_n.jpg
    created_time: '1441541361'
    height: 360
    latitude: 18.790106536
    link_shortcode: 7SeLwHihmx
    longitude: 98.990070226
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11938279_165477093788514_1724557661_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11928470_1630420140546850_345976795_s.mp4
    width: 640 

  - cafe_name: Artisan Cafe
    cafe_name_ig: Artisan Cafe
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11850347_665629633573116_37092193_n.jpg
    created_time: '1441710428'
    height: 640
    latitude: 18.799568107
    link_shortcode: 7XgpzKihjx
    longitude: 98.977578373
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11983185_1001095019942485_407487826_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12003595_130321210649185_1858844124_s.mp4
    width: 640

  - cafe_name: Ristr8to (original)
    cafe_name_ig: Ristr8to Coffee Estate @Nimman, CNX
    cover_image: https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/e15/11821286_844488679000329_1129078764_n.jpg
    created_time: '1441855970'
    height: 640
    latitude: 18.799143333
    link_shortcode: 7b2QKFChkN
    longitude: 98.967141423
    user_image: https://scontent.cdninstagram.com/hphotos-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video_url_high: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12003564_885381411511571_1270280954_n.mp4
    video_url_low: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11948784_695330397235876_1602367563_s.mp4
    width: 640

---
