---
title: Pai
bodyclass: city

cafes:
    
  - cafe_name: ADD CAFE NAME
    comments: 0
    created_time: '1440673666'
    likes: 6
    link: https://instagram.com/p/64nL-hihsP/
    link_shortcode: 64nL-hihsP
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11854934_1480122102311238_629776096_n.mp4
    video_height: 640
    video_width: 640
    
---
