---
title: Warsaw
bodyclass: city

cafes:

  - cafe_name: Ministerstwo Kawy
    comments: 0
    created_time: '1439298660'
    likes: 7
    link: https://instagram.com/p/6PokeNChv0/
    link_shortcode: 6PokeNChv0
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video: https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/11854734_1483581691940260_1245065055_n.mp4
    video_height: 640
    video_width: 640

  - cafe_name: Filtry Cafe
    comments: 1
    created_time: '1439312380'
    likes: 6
    link: https://instagram.com/p/6QCvXFChvK/
    link_shortcode: 6QCvXFChvK
    user_image: https://igcdn-photos-e-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/10903719_1419219471702140_34188477_a.jpg
    user_name: ytspar
    video: https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11883647_957264307629627_1430945021_n.mp4
    video_height: 640
    video_width: 640
---